# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

 - Popular languages for Data Science
 - Popular libraries for Datascience
 - Popular tools for Datascience
 - Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
 - Tensorflow
 - Numpy
 - Pandas

|Data Science Tools|
---------
| MySQL |
| PosgreSQL |
| MongoDB |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vivek Irusan